{% extends "layouts/work.html" %}
{% load static %}
{% block title %}Elastic | Work | All Emails{% endblock %}
{% block content %}
            <div class="page-header">
                <div class="page-header-left d-flex align-items-center">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Welcome {{ user.first_name }}</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'AdminDashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'AdminAllCompanies' %}">All Companies</a></li>
                        <li class="breadcrumb-item">All Emails</li>
                    </ul>
                </div>
                <div class="page-header-right ms-auto">
                    <div class="page-header-right-items">
                        <div class="d-flex d-md-none">
                            <a href="javascript:void(0)" class="page-header-right-close-toggle">
                                <i class="feather-arrow-left me-2"></i>
                                <span>Back</span>
                            </a>
                        </div>
                        <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
                            <a href="javascript:void(0)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmail" title="Add New Email">
                                <i class="feather-plus me-2"></i>
                                <span>Add New Email</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card stretch stretch-full">
                            <div class="card-body p-0">
                                <div class="card stretch stretch-full">
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            {% if emails %}
                                            <table class="table table-hover" id="allCompanyEmails">
                                                <thead>
                                                    <tr>
                                                        <th>Company ID</th>
                                                        <th>Company</th>
                                                        <th>Email</th>
                                                        <th>Status</th>
                                                        <th class="text-end">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for email in emails %}
                                                    <tr>
                                                        <td>{{ email.unique_code }}</td>
                                                        <td>{{ email.company.name }}</td>
                                                        <td>{{ email.email }}</td>
                                                        <td>{{ email.status }}</td>
                                                        <td>
                                                            <div class="hstack gap-2 justify-content-end">
                                                                <div class="hstack gap-2 justify-content-end">
                                                                    <a href="javascript:void(0);" data-id="{{ email.unique_code }}" class="delete-company-email avatar-text avatar-md text-danger" data-bs-toggle="modal" data-bs-target="#deleteEmail" title="Delete Company Email"><i class="feather feather-trash"></i></a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                            {% if emails %}
                                            <!-- Pagination -->
                                            <div class="pagination">
                                                {% if emails.has_previous %}
                                                    <a class="btn btn-info" href="?page=1">First</a>
                                                    <a class="btn btn-secondary" href="?page={{ emails.previous_page_number }}">Previous</a>
                                                {% endif %}

                                                <span class="btn btn-primary">{{ emails.number }}</span>

                                                {% if emails.has_next %}
                                                    <a class="btn btn-secondary" href="?page={{ emails.next_page_number }}">Next</a>
                                                    <a class="btn btn-info" href="?page={{ emails.paginator.num_pages }}">Last</a>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addEmail" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form method="post" action="{% url 'AdminAddNewCompanyEmail' %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title">Add Company Email</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="company">Company</label>
                                    <select class="form-select form-control" id="company" name="company" required>
                                        <option value="" hidden> -- Select Company -- </option>
                                        {% for company in companies %}
                                        <option value="{{ company.id }}">{{ company.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade show" id="deleteEmail" tabindex="-1" role="dialog" aria-modal="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitleId">Delete Company Email</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="notes-box">
                                <div class="notes-content">
                                    <form method="post" action="{% url 'AdminDeleteCompanyEmail' %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="note-title">
                                                    <h3>Are your sure you want to delete selected company email?</h3>
                                                    <input type="hidden" id="deid" name="deid" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal">No</button>
                            <button id="btn-n-add" class="btn btn-danger">Yes Delete</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}