{% extends "layouts/work.html" %}
{% load static %}
{% block title %}Elastic | Work | User Details{% endblock %}
{% block content %}
            <div class="page-header">
                <div class="page-header-left d-flex align-items-center">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Welcome {{ user.first_name }}</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'AdminDashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'AdminAllCompanies' %}">All companies</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'AdminEditCompanyDetails' company.unique_code %}">{{ company.name }}</a></li>
                        <li class="breadcrumb-item">{{ account.first_name }} {{ account.last_name }}</li>
                    </ul>
                </div>
                <div class="page-header-right ms-auto">
                    <div class="page-header-right-items">
                        <div class="d-flex d-md-none">
                            <a href="javascript:void(0)" class="page-header-right-close-toggle">
                                <i class="feather-arrow-left me-2"></i>
                                <span>Back</span>
                            </a>
                        </div>
                        <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
                            <a href="{% url 'AdminAddNewCompanyUser' company.unique_code %}" class="btn btn-primary">
                                <i class="feather-plus me-2"></i>
                                <span>User Details</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="card stretch stretch-full">
                            <form method="post" action="{% url 'AdminUpdateCompanyUserDetails' %}">
                                {% csrf_token %}
                                <div class="card-body general-info">
                                    <div class="mb-5 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold mb-0 me-4"><span class="d-block">User Details:</span></h5>
                                    </div>
                                    <div class="row mb-4 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="company" class="fw-semibold">Company: <sup class="text-danger">*</sup></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="feather-user"></i></div>
                                                <input type="hidden" class="form-control" id="account" name="account" value="{{ account.unique_code }}">
                                                <input type="text" class="form-control" id="company_name" name="company_name" value="{{ company.name }}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="first_name" class="fw-semibold">Name: <sup class="text-danger">*</sup></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-6 mb-2">
                                                    <div class="input-group">
                                                        <div class="input-group-text"><i class="feather-user"></i></div>
                                                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name" value="{{ account.first_name }}" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-2">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name" value="{{ account.last_name }}" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="email" class="fw-semibold">Email: <sup class="text-danger">*</sup></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="feather-mail"></i></div>
                                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" value="{{ account.email }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="mobile" class="fw-semibold">Mobile Number: <sup class="text-danger">*</sup></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="feather-phone"></i></div>
                                                <input type="text" class="form-control" id="mobile" name="mobile" minlength="10" maxlength="10" placeholder="Enter Mobile Number" value="{{ account.mobile }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="otp_enable" class="fw-semibold">Enable OTP Authentication: <sup class="text-danger">*</sup></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="feather-lock"></i></div>
                                                <select type="text" class="form-control" id="otp_enable" name="otp_enable">
                                                    <option value="" hidden> -- Select Option -- </option>
                                                    <option value="No" {% if account.otp_enabled == 'No' %} selected {% endif %}>No</option>
                                                    <option value="Yes" {% if account.otp_enabled == 'Yes' %} selected {% endif %}>Yes</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-lg-9"></div>
                                        <div class="col-lg-3 text-end">
                                            <button type="submit" class="btn btn-primary w-100">
                                                <i class="feather-save me-2"></i>
                                                <span>Save Changes</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}