{% extends "layouts/work.html" %}
{% load static %}
{% block title %}Elastic | Work | Visit Logs{% endblock %}
{% block content %}
            <div class="page-header">
                <div class="page-header-left d-flex align-items-center">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Welcome {{ user.first_name }}</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'AdminDashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'AdminAllVisits' %}">All Visits</a></li>
                        <li class="breadcrumb-item">Visit Logs</li>
                    </ul>
                </div>
            </div>

            
{% endblock content %}